@media only screen and (max-width: 820px) {
    h1{
        font-size: 1.5rem;
    }
    span{
        line-height: 40px;
        font-size: .8rem;
    }
    .row{
        min-width: 240px;
    }
}

@media only screen and (max-width: 320px) {
    h1{
        font-size: 1.3rem;
    }
    span{
        line-height: 2rem;
        font-size: .7rem;
    }
    .row{
        min-width: 200px;
    }
    .close{
        visibility: visible;
        transform: scale(1,1);
        transition: all 0.5s;
    }
    input:checked + div .row_container .close {
        transform: rotate(45deg) scale(1,1);
        transition: all 0.5s;
    
        }
}